.cmt-button-primary.ant-btn {
   width: 100%;
   background-color: @primary-color;
   color: @white;
   border-color: @primary-color;
   font-family: 'MarkPro';
   font-size: 16px;
   &:hover {
      background-color: @primary-color__var-2;
      border-color: @primary-color__var-2;
   }
   &:active, &:focus {
      background-color: @primary-color__var-1;
      border-color: @primary-color__var-1;
   }

   &.outline {
      background-color: @white;
      color: @primary-color;
      border-color: @primary-color;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
         color: @primary-color__var-2;
         border-color: @primary-color__var-2;
      }
      &:active, &:focus {
         color: @primary-color__var-1;
         border-color: @primary-color__var-1;
      }
   }

   &.non-outline {
      background-color: @white;
      color: @primary-color;
      border-color: @white;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
        color: @primary-color__var-2; 
      }
      &:active, &:focus {
         color: @primary-color__var-1;
      }
   }

   &.floating {
      border-radius: 40px;
      padding-right: 15px;
      padding-left: 15px;
   }
}

.cmt-button-secondary.ant-btn {
   width: 100%;
   background-color: @secondary-color;
   color: @white;
   border-color: @secondary-color;
   font-family: 'MarkPro';
   font-size: 16px;
   &:hover {
      background-color: @secondary-color__var-2;
      border-color: @secondary-color__var-2;
   }
   &:active, &:focus {
      background-color: @secondary-color__var-1;
      border-color: @secondary-color__var-1;
   }

   &.outline {
      background-color: @white;
      color: @secondary-color;
      border-color: @secondary-color;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
         color: @secondary-color__var-2;
         border-color: @secondary-color__var-2;
      }
      &:active, &:focus {
         color: @secondary-color__var-1;
         border-color: @secondary-color__var-1;
      }
   }

   &.non-outline {
      background-color: @white;
      color: @secondary-color;
      border-color: @white;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
        color: @secondary-color__var-2; 
      }
      &:active, &:focus {
         color: @secondary-color__var-1;
      }
   }

   &.floating {
      border-radius: 40px;
      padding-right: 15px;
      padding-left: 15px;
   }
}

.cmt-button-tertiary.ant-btn {
   width: 100%;
   background-color: @tertiary-color;
   color: @white;
   border-color: @tertiary-color;
   font-family: 'MarkPro';
   font-size: 16px;
   &:hover {
      background-color: @tertiary-color__var-2;
      border-color: @tertiary-color__var-2;
   }
   &:active, &:focus {
      background-color: @tertiary-color__var-1;
      border-color: @tertiary-color__var-1;
   }

   &.outline {
      background-color: @white;
      color: @tertiary-color;
      border-color: @tertiary-color;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
         color: @tertiary-color__var-2;
         border-color: @tertiary-color__var-2;
      }
      &:active, &:focus {
         color: @tertiary-color__var-1;
         border-color: @tertiary-color__var-1;
      }
   }

   &.non-outline {
      background-color: @white;
      color: @tertiary-color;
      border-color: @white;
      font-family: 'MarkPro';
      font-size: 16px;
      &:hover {
        color: @tertiary-color__var-2; 
      }
      &:active, &:focus {
         color: @tertiary-color__var-1;
      }
   }

   &.floating {
      border-radius: 40px;
      padding-right: 15px;
      padding-left: 15px;
   }
}

.cmt-button-disabled.ant-btn {
   width: 100%;
   background-color: @gray-color__var-1;
   color: @white;
   border-color: @gray-color__var-1;
   font-family: 'MarkPro';
   font-size: 16px;

   &.outline {
      background-color: @white;
      color: @gray-color__var-1;
   }

   &.non-outline {
      background-color: @white;
      color: @gray-color__var-1;
      border-color: @white;
   }

   &.floating {
      border-radius: 40px;
      padding-right: 15px;
      padding-left: 15px;
   }
}

