/* Input with icon*/
.cmt-input-icon.ant-input-affix-wrapper {
  border: 1px solid @gray-color__var-3;
  color: @gray-color__var-1;
  &:hover {
    border-color: @text-color !important;
  }
  &:active,
  &:focus {
    border: 2px solid @text-color;
    border-right-width: 2px !important;
  }
}

/* Input without icon */
.cmt-input.ant-input {
  border: 1px solid @gray-color__var-3;
  &:hover {
    border-color: @text-color;
  }
  &:active,
  &:focus {
    border: 2px solid @text-color;
    border-right-width: 2px !important;
  }
}


/* Input Number */

.cmt-input-number.ant-input-number {
  border: 1px solid @gray-color__var-3;
  &:hover {
    border-color: @text-color;
  }
  &:active, &:focus {
    border: 2px solid @text-color;
    border-right-width: 2px !important;
  }
}


/* Input with addon */

.cmt-input.ant-input-group-wrapper {
  border: 1px solid @gray-color__var-3;
  color: @gray-color__var-1;
  &:hover {
    border-color: @text-color !important;
  }
  &:active,
  &:focus {
    border: 2px solid @text-color;
    border-right-width: 2px !important;
  }
}