.cmt-pagination.ant-radio-group {
  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled) {
    color: @text-color;
    border-color: @gray-color__var-1;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: @text-color;
    border-color: @text-color;
    &::before {
      background-color: @text-color !important;
    }
  }
}