@import './variables.less';
@import './typography.less';

.search-phone-class {
  font-family: 'MarkPro';
  font-size: 16px;
  width: 100% !important;

  &::placeholder {
    color: @gray-color__var-1;
  }
}