.cmt-select.ant-select {
   border-color: @gray-color__var-3;
   color: @gray-color__var-1;
   &:hover {
      border-color: @select-border-color !important;
   }
   &:active, &:focus {
      border: 2px solid @select-item-active-bg !important;
   }
}

