.cmt-select.ant-select {
  color: @gray-color__var-1;

  &.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: @text-color;
  }

  &:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: @text-color;
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select-multiple
    .ant-select-selector {
    border: 2px solid @text-color;
  }

  &.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border: 2px solid @text-color;
  }

  .ant-select-selection-item {
    color: @text-color;
  }
}
