.cmt-statistic.ant-statistic {
  background-color: @gray-color__var-4;
  height: auto;
  padding: 40px 15px;
  .ant-statistic-title {
    .title {
      font-family: "MarkProBold";
      font-size: 16px;
      line-height: 39px;
      color: @text-color;
      text-align: center;
      margin-bottom: 0;
    }
    .sub-title {
      font-family: "MarkPro";
      font-size: 14px;
      line-height: 39px;
      color: @text-color;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .ant-statistic-content {
    font-family: "MarkPro";
    font-size: 30px;
    line-height: 38px;
    color: @text-color;
    text-align: center;
    margin-bottom: 0;
  }
}
