.cmt-table.ant-table-wrapper {
   .ant-table-thead > tr > th {
      border-bottom: none;
      font-family: 'MarkProBold';
      font-size: 16px;
      color: @black;
      background-color: @white;
   }
   .ant-table-tbody > tr > td {
      border-bottom: 10px solid @white;
      font-family: 'MarkPro';
      font-size: 16px;
      color: @black;
      background-color: @gray-color__var-4;
   }
   .ant-table-tbody > tr:hover {
      background-color: @gray-color__var-3;
   }
}

.cmt-list.ant-table-wrapper {
   .ant-table-thead > tr > th {
      border-bottom: none;
      font-family: 'MarkProBold';
      font-size: 16px;
      color: @black;
      background-color: @white;
   }
   .ant-table-tbody > tr:nth-child(even) {
      border-bottom: 10px solid @white;
      font-family: 'MarkPro';
      font-size: 16px;
      color: @black;
      background-color: @white;
   }
   .ant-table-tbody > tr:nth-child(odd) {
      border-bottom: 10px solid @white;
      font-family: 'MarkPro';
      font-size: 16px;
      color: @black;
      background-color: @gray-color__var-4;
   }
   .ant-table-tbody > tr:hover {
      background-color: @gray-color__var-3;
   }
}