.cmt-tabs.ant-tabs {
  .ant-tabs-nav-wrap {
    margin-left: 4.2vw;

    .ant-tabs-tab {
      &:not(:first-child) {
        margin-left: 50px;
      }
  
      .ant-tabs-tab-btn {
        .ant-badge-count {
          display: flex;
          justify-content: center;
          align-items: center;
          background: @text-color-secondary;
          height: 23px;
          width: 24px;
          border-radius: 30px;
        }

        p {
          font-family: 'MarkProBold';
          color: @text-color-secondary !important;
          font-size: 14px;
        }
      }
  
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          
          .ant-badge-count {
            display: flex;
            justify-content: center;
            align-items: center;
            background: @primary-color;
            height: 23px;
            width: 24px;
            border-radius: 30px;
          }

          p {
            font-family: 'MarkProBold' !important;
            color: @primary-color !important;
            font-size: 14px;
          }
        }
      }
    }
    
    .ant-tabs-ink-bar {
      background-color: @primary-color;
    }
  }
}
