@font-face {
  font-family: "MarkPro";
  src: url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProBold";
  src: url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProItalic";
  src: url("~cmt-ui-kit/src/fonts/MarkProItalic/MarkPro-MediumItalic.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkProItalic/MarkPro-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "fontello";
//   src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268");
//   src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268#iefix")
//       format("embedded-opentype"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff2?12700268")
//       format("woff2"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff?12700268")
//       format("woff"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.ttf?12700268")
//       format("truetype"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.svg?12700268#fontello")
//       format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-size: 20px;
// }

@font-face {
  font-family: 'TEST CMT';
  src: url('~cmt-ui-kit/src/fonts/icons/Glyphter/TEST-CMT.eot');
  src: url('~cmt-ui-kit/src/fonts/icons/Glyphter/TEST-CMT.eot?#iefix') format('embedded-opentype'),
       url('~cmt-ui-kit/src/fonts/icons/Glyphter/TEST-CMT.woff') format('woff'),
       url('~cmt-ui-kit/src/fonts/icons/Glyphter/TEST-CMT.ttf') format('truetype'),
       url('~cmt-ui-kit/src/fonts/icons/Glyphter/TEST-CMT.svg#TEST-CMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'TEST CMT' !important;
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* System Icons */

.icon-system-edit:before { 
  content: "\0033";
}
.icon-system-calendar:before { 
  content: "\0073";
}
.icon-system-clock:before {  
  content: "\007a";
}
.icon-system-close:before {  
  content: "\0030";
}
.icon-system-chevron-up:before {
  content: "\0079";
}
.icon-system-chevron-right:before {
  content: "\e808";
}
.icon-system-chevron-left:before {
  content: "\0078";
}
.icon-system-chevron-down:before {
  content: "\0076";
}
.icon-system-delete:before { 
  content: "\0031";
}
.icon-system-placeholder:before {
  content: "\0022";
}
.icon-system-search:before { 
  content: "\0024";
}
.icon-system-mail:before {
  content: "\0037";
}
.icon-system-phone:before {
  content: "\0021";
}
.icon-system-plus:before {
  content: "\0023";
}
.icon-system-user:before {
  content: "\0026";
}
.icon-system-check:before { 
  content: "\0075";
}
.icon-system-calendar-2:before {
  content: "\0073";
}
.icon-system-download:before { 
  content: "\0032";
}
.icon-system-menu:before { 
  content: '\0038';
}
.icon-system-share:before {
  content: '\0025';
}


/* Brand Icons */

.icon-brand-facebook:before { 
  content: "\0034";
}
.icon-brand-laboratory:before {  
  content: "\0035";
}
.icon-brand-linkedin:before {
  content: "\0036";
}
.icon-brand-billing:before {
  content: "\0072";
}
.icon-brand-feedback:before { 
  content: '\0070';
}
.icon-brand-question-square:before { 
  content: '\0071';
}
.icon-brand-chart:before { 
  content: '\0074';
}
.icon-alert-square:before { 
  content: '\006f';
}
.icon-alert-rounded:before {
  content: '\006e';
}
.icon-brand-money:before {
  content: '\0039';
}

.icon-alert-triangle:before{content:'\0041';}
.icon-ambulance:before{content:'\0042';}
.icon-callcenter:before{content:'\0043';}
.icon-chef:before{content:'\0044';}
.icon-chevron-down-rounded:before{content:'\0045';}
.icon-chevron-right-rounded:before{content:'\0046';}
.icon-chevron-up-rounded:before{content:'\0047';}
.icon-clock-rush:before{content:'\0048';}
.icon-clock-time:before{content:'\0049';}
.icon-cyclical-worker:before{content:'\004a';}
.icon-dartboard:before{content:'\004b';}
.icon-desk-worker:before{content:'\004c';}
.icon-diver:before{content:'\004d';}
.icon-document-checks:before{content:'\004e';}
.icon-document-lens:before{content:'\004f';}
.icon-documents:before{content:'\0050';}
.icon-earphones-noise:before{content:'\0051';}
.icon-envelope:before{content:'\0052';}
.icon-facebook-rounded:before{content:'\0053';}
.icon-face-mask:before{content:'\0054';}
.icon-flag-chile:before{content:'\0055';}
.icon-flag-peru:before{content:'\0056';}
.icon-health-briefcase:before{content:'\0057';}
.icon-health-hexagon:before{content:'\0058';}
.icon-height-mountain:before{content:'\0059';}
.icon-height-worker:before{content:'\005a';}
.icon-immediate-agenda:before{content:'\0061';}
.icon-iso-regulation:before{content:'\0062';}
.icon-linkedin-rounded:before{content:'\0063';}
.icon-map-placeholder:before{content:'\0064';}
.icon-pill:before{content:'\0065';}
.icon-placeholder-new:before{content:'\0066';}
.icon-quote-left:before{content:'\0067';}
.icon-share-new:before{content:'\0068';}
.icon-small-space:before{content:'\0069';}
.icon-steering-wheel:before{content:'\006a';}
.icon-target:before{content:'\006b';}
.icon-test-tube:before{content:'\006c';}
.icon-whatsapp-rounded:before{content:'\006d';}