@font-face {
  font-family: "MarkPro";
  src: url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProBold";
  src: url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "fontello";
  src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268");
  src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268#iefix")
      format("embedded-opentype"),
    url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff2?12700268")
      format("woff2"),
    url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff?12700268")
      format("woff"),
    url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.ttf?12700268")
      format("truetype"),
    url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.svg?12700268#fontello")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello" !important;
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* System Icons */

.icon-system-edit:before { 
  content: "\e80f";
}
.icon-system-calendar:before { 
  content: "\e803";
}
.icon-system-clock:before {  
  content: "\e80a";
}
.icon-system-close:before {  
  content: "\e80b";
}
.icon-system-chevron-up:before {
  content: "\e809";
}
.icon-system-chevron-right:before {
  content: "\e808";
}
.icon-system-chevron-left:before {
  content: "\e807";
}
.icon-system-chevron-down:before {
  content: "\e806";
}
.icon-system-delete:before { 
  content: "\e80c";
}
.icon-system-placeholder:before {
  content: "\e818";
}
.icon-system-search:before { 
  content: "\e81b";
}
.icon-system-mail:before {
  content: "\e815";
}
.icon-system-phone:before {
  content: "\e817";
}
.icon-system-plus:before {
  content: "\e819";
}
.icon-system-user:before {
  content: "\e81d";
}
.icon-system-check:before { 
  content: "\e805";
}
.icon-system-calendar-2:before {
  content: "\e802";
}
.icon-system-download:before { 
  content: "\e80e";
}
// .icon-system-menu:before { 
//   content: '\e815';
// }
.icon-system-share:before {
  content: '\e81c';
}
.icon-system-inverted-menu:before {
  content: '\e812';
}

/* Brand Icons */

.icon-brand-facebook:before { 
  content: "\e810";
}
.icon-brand-laboratory:before {  
  content: "\e813";
}

.icon-brand-linkedin:before {
  content: "\e814";
}
.icon-brand-billing:before {
  content: "\e80d";
}
.icon-brand-feedback:before { 
  content: '\e811';
}
.icon-brand-question-square:before { 
  content: '\e81a';
}
.icon-brand-chart:before { 
  content: '\e804';
}
.icon-alert-square:before { 
  content: '\e801';
}
.icon-alert-rounded:before {
  content: '\e800';
}
// .icon-brand-money:before {
//   content: '\e816';
// }
