@font-face {
  font-family: "MarkPro";
  src: url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkPro/MarkPro.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProBold";
  src: url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkProBold/MarkPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProItalic";
  src: url("~cmt-ui-kit/src/fonts/MarkProItalic/MarkPro-MediumItalic.woff") format("woff"),
    url("~cmt-ui-kit/src/fonts/MarkProItalic/MarkPro-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "fontello";
//   src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268");
//   src: url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.eot?12700268#iefix")
//       format("embedded-opentype"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff2?12700268")
//       format("woff2"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.woff?12700268")
//       format("woff"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.ttf?12700268")
//       format("truetype"),
//     url("~cmt-ui-kit/src/fonts/icons/Fontello/font/fontello.svg?12700268#fontello")
//       format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-size: 20px;
// }

// [class^="icon-"]:before,
// [class*=" icon-"]:before {
//   font-family: 'fontello' !important;
//   font-style: normal;
//   font-weight: normal;
//   speak: never;

//   display: inline-block;
//   text-decoration: inherit;
//   width: 1em;
//   margin-right: 0.2em;
//   text-align: center;

//   /* For safety - reset parent styles, that can break glyph codes*/
//   font-variant: normal;
//   text-transform: none;

//   /* fix buttons height, for twitter bootstrap */
//   line-height: 1em;

//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

@font-face {
  font-family: 'icomoon';
  src:  url('~cmt-ui-kit/src/fonts/icons/Icomoon/icomoon.eot?1vuft5');
  src:  url('~cmt-ui-kit/src/fonts/icons/Icomoon/icomoon.eot?1vuft5#iefix') format('embedded-opentype'),
    url('~cmt-ui-kit/src/fonts/icons/Icomoon/icomoon.ttf?1vuft5') format('truetype'),
    url('~cmt-ui-kit/src/fonts/icons/Icomoon/icomoon.woff?1vuft5') format('woff'),
    url('~cmt-ui-kit/src/fonts/icons/Icomoon/icomoon.svg?1vuft5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// /* System Icons */

// .icon-system-edit:before { 
//   content: "\0033";
// }
// .icon-system-calendar:before { 
//   content: "\0073";
// }
// .icon-system-clock:before {  
//   content: "\007a";
// }
// .icon-system-close:before {  
//   content: "\0030";
// }
// .icon-system-chevron-up:before {
//   content: "\0079";
// }
// .icon-system-chevron-right:before {
//   content: "\e808";
// }
// .icon-system-chevron-left:before {
//   content: "\0078";
// }
// .icon-system-chevron-down:before {
//   content: "\0076";
// }
// .icon-system-delete:before { 
//   content: "\0031";
// }
// .icon-system-placeholder:before {
//   content: "\0022";
// }
// .icon-system-search:before { 
//   content: "\0024";
// }
// .icon-system-mail:before {
//   content: "\0037";
// }
// .icon-system-phone:before {
//   content: "\0021";
// }
// .icon-system-plus:before {
//   content: "\0023";
// }
// .icon-system-user:before {
//   content: "\0026";
// }
// .icon-system-check:before { 
//   content: "\0075";
// }
// .icon-system-calendar-2:before {
//   content: "\0073";
// }
// .icon-system-download:before { 
//   content: "\0032";
// }
// .icon-system-menu:before { 
//   content: '\0038';
// }
// .icon-system-share:before {
//   content: '\0025';
// }


// /* Brand Icons */

// .icon-brand-facebook:before { 
//   content: "\0034";
// }
// .icon-brand-laboratory:before {  
//   content: "\0035";
// }
// .icon-brand-linkedin:before {
//   content: "\0036";
// }
// .icon-brand-billing:before {
//   content: "\0072";
// }
// .icon-brand-feedback:before { 
//   content: '\0070';
// }
// .icon-brand-question-square:before { 
//   content: '\0071';
// }
// .icon-brand-chart:before { 
//   content: '\0074';
// }
// .icon-alert-square:before { 
//   content: '\006f';
// }
// .icon-alert-rounded:before {
//   content: '\006e';
// }
// .icon-brand-money:before {
//   content: '\0039';
// }

.icon-alert-rounded:before {
  content: "\e900";
}
.icon-alert-square:before {
  content: "\e901";
}
.icon-brand-feedback:before {
  content: "\e902";
}
.icon-brand-question-square:before {
  content: "\e903";
}
.icon-billing .path1:before {
  content: "\e904";
  color: rgb(91, 53, 109);
}
.icon-billing .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(172, 153, 181);
}
.icon-calendar:before {
  content: "\e906";
  color: #dc582a;
}
.icon-chart .path1:before {
  content: "\e907";
  color: rgb(48, 154, 128);
}
.icon-chart .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(48, 154, 128);
}
.icon-chart .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(150, 204, 191);
}
.icon-chart .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(150, 204, 191);
}
.icon-check:before {
  content: "\e90b";
  color: #223a70;
}
.icon-chevron-down:before {
  content: "\e90c";
  color: #223a70;
}
.icon-chevron-left:before {
  content: "\e90d";
  color: #223a70;
}
.icon-chevron-right:before {
  content: "\e90e";
  color: #223a70;
}
.icon-chevron-up:before {
  content: "\e90f";
  color: #223a70;
}
.icon-clock:before {
  content: "\e910";
  color: #223a70;
}
.icon-close:before {
  content: "\e911";
  color: #223a70;
}
.icon-delete:before {
  content: "\e912";
  color: #223a70;
}
.icon-download:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
  color: #223a70;
}
.icon-facebook:before {
  content: "\e915";
}
.icon-laboratory:before {
  content: "\e916";
}
.icon-linkedin:before {
  content: "\e917";
}
.icon-mail:before {
  content: "\e918";
  color: #223a70;
}
.icon-menu:before {
  content: "\e919";
  color: #505050;
}
.icon-money .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 0);
}
.icon-money .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone:before {
  content: "\e91c";
  color: #223a70;
}
.icon-placeholder:before {
  content: "\e91d";
  color: #223a70;
}
.icon-plus:before {
  content: "\e91e";
  color: #223a70;
}
.icon-search:before {
  content: "\e91f";
  color: #223a70;
}
.icon-share:before {
  content: "\e920";
  color: #dc582a;
}
.icon-user:before {
  content: "\e921";
  color: #223a70;
}
.icon-alert-triangle:before {
  content: "\e922";
  color: #dc582a;
}
.icon-ambulance:before {
  content: "\e923";
  color: #223a70;
}
.icon-callcenter:before {
  content: "\e924";
  color: #223a70;
}
.icon-chef:before {
  content: "\e925";
}
.icon-chevron-down-rounded:before {
  content: "\e926";
  color: #223a70;
}
.icon-chevron-right-rounded:before {
  content: "\e927";
  color: #223a70;
}
.icon-chevron-up-rounded:before {
  content: "\e928";
  color: #223a70;
}
.icon-clock-rush:before {
  content: "\e929";
  color: #223a70;
}
.icon-clock-time:before {
  content: "\e92a";
}
.icon-cyclical-worker:before {
  content: "\e92b";
  color: #223a70;
}
.icon-dartboard:before {
  content: "\e92c";
}
.icon-desk-worker:before {
  content: "\e92d";
}
.icon-diver:before {
  content: "\e92e";
}
.icon-document-checks:before {
  content: "\e92f";
}
.icon-document-lens:before {
  content: "\e930";
}
.icon-documents:before {
  content: "\e931";
}
.icon-earphones-noise:before {
  content: "\e932";
}
.icon-envelope:before {
  content: "\e933";
  color: #223a70;
}
.icon-facebook-rounded .path1:before {
  content: "\e934";
  color: rgb(34, 58, 112);
}
.icon-facebook-rounded .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-face-mask:before {
  content: "\e936";
}
.icon-flag-chile .path1:before {
  content: "\e937";
  color: rgb(220, 36, 31);
}
.icon-flag-chile .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-flag-chile .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 53, 173);
}
.icon-flag-chile .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-flag-peru .path1:before {
  content: "\e93b";
  color: rgb(220, 36, 31);
}
.icon-flag-peru .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(220, 36, 31);
}
.icon-flag-peru .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-health-briefcase:before {
  content: "\e93e";
  color: #223a70;
}
.icon-health-hexagon:before {
  content: "\e93f";
}
.icon-height-mountain:before {
  content: "\e940";
}
.icon-height-worker:before {
  content: "\e941";
}
.icon-immediate-agenda:before {
  content: "\e942";
  color: #223a70;
}
.icon-iso-regulation:before {
  content: "\e943";
  color: #223a70;
}
.icon-linkedin-rounded .path1:before {
  content: "\e944";
  color: rgb(34, 58, 112);
}
.icon-linkedin-rounded .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin-rounded .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-map-placeholder:before {
  content: "\e947";
  color: #223a70;
}
.icon-pill:before {
  content: "\e948";
}
.icon-placeholder-new:before {
  content: "\e949";
  color: #223a70;
}
.icon-quote-left:before {
  content: "\e94a";
}
.icon-share-new:before {
  content: "\e94b";
  color: #223a70;
}
.icon-small-space:before {
  content: "\e94c";
}
.icon-steering-wheel:before {
  content: "\e94d";
}
.icon-target:before {
  content: "\e94e";
}
.icon-test-tube:before {
  content: "\e94f";
  color: #223a70;
}
.icon-whatsapp-rounded .path1:before {
  content: "\e950";
  color: rgb(34, 58, 112);
}
.icon-whatsapp-rounded .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-whatsapp-rounded .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
