/* Colors */

@primary-color: #DC582A;
@primary-color__var-1: #C24F25;
@primary-color__var-2: #F5632F;
@primary-color__var-3: #EDAB94;
@primary-color__var-4: #FCEEE9;

@secondary-color: #223A70;
@secondary-color__var-1: #1A2C54;
@secondary-color__var-2: #4E618D;
@secondary-color__var-3: #7A89A9;
@secondary-color__var-4: #D3D7E2;

@tertiary-color: #EE8D3A;
@tertiary-color__var-1: #B36A2C;
@tertiary-color__var-2: #F1A461;
@tertiary-color__var-3: #F8D1B0;
@tertiary-color__var-4: #FCE8D7;

@quaternary-color: #E4D0BE;
@quaternary-color__var-1: #F1E7DE;

@quinary-color: #17223A;
@quinary-color_var-1: #111A2C;
@quinary-color_var-2: #454E61;
@quinary-color_var-3: #A2A7B0;
@quinary-color_var-4: #D1D3D7;

@senary-color: #5B356D;
@senary-color__var-1: #472954;
@senary-color__var-2: #714287;
@senary-color__var-3: #AC99B5;
@senary-color__var-4: #EEEAF0;

@septenary-color: #2F9980;
@septenary-color__var-1: #28806B;
@septenary-color__var-2: #37B396;
@septenary-color__var-3: #96CCBF;
@septenary-color__var-4: #E9F5F2;

@octonary-color: #F3E6CE;
@octonary-color__var-1: #B6AD9B;
@octonary-color__var-2: #F5EBD8;
@octonary-color__var-3: #FAF5EB;

@success-color: #2F9933;
@error-color: #D02A2A;

@text-color: #505050;
@text-color-secondary: #989898;

@gray-color__var-1: #BEBEBE;
@gray-color__var-2: #C9C9C9;
@gray-color__var-3: #E4E4E4;
@gray-color__var-4: #F1F1F1;

@white: #FFFFFF;
@black: #333333;

@palette-color__var-1: #8D7299;
@palette-color__var-2: #E78B6A;
@palette-color__var-3: #6FB9A7;
@palette-color__var-4: #E09396;
@palette-color__var-5: #80B8DE;
@palette-color__var-6: #F5D764;
@palette-color__var-7: #59867A;
@palette-color__var-8: #AF5253;
@palette-color__var-9: #638EAB;
@palette-color__var-10: #5E4D66;
@palette-color__var-11: #9197DF;
@palette-color__var-12: #AFC4BF;
