@import "./styles/variables.less";
@import "./styles/button.less";
@import "./styles/table.less";
@import "./styles/input.less";
@import "./styles/select.less";
@import "./styles/tabs.less";
@import "./styles/statistics.less";
@import "./styles/checkbox.less";
@import "./styles/navbar.less";
@import "./styles/global.less";
@import "./styles/spin.less";
@import "./styles/radio.less";
@import "./styles/form.less";
@import "./styles/customTable.less";
@import "./styles/pagination.less";
@import "./styles/switch.less";
@import "./styles/tag.less";
@import "./styles/datePicker.less";
@import "./styles/phone.less";


@font-face {
  font-family: "MarkPro";
  src: url("./fonts/MarkPro/MarkPro.woff") format("woff"),
    url("./fonts/MarkPro/MarkPro.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProBold";
  src: url("./fonts/MarkProBold/MarkPro-Bold.woff") format("woff"),
    url("./fonts/MarkProBold/MarkPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "MarkProItalic";
  src: url("./fonts/MarkProItalic/MarkPro-MediumItalic.woff") format("woff"),
    url("./fonts/MarkProItalic/MarkPro-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}


@font-face {
  font-family: "fontastic-cmt";
  src:url("./fonts/icons/Fontastic/fontastic-cmt.eot");
  src:url("./fonts/icons/Fontastic/fontastic-cmt.eot?#iefix") format("embedded-opentype"),
    url("./fonts/icons/Fontastic/fontastic-cmt.woff") format("woff"),
    url("./fonts/icons/Fontastic/fontastic-cmt.ttf") format("truetype"),
    url("./fonts/icons/Fontastic/fontastic-cmt.svg#fontastic-cmt") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[data-icon]:before {
  font-family: "fontastic-cmt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic-cmt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-rounded:before {
  content: "\61";
}
.icon-alert-square:before {
  content: "\62";
}
.icon-alert-triangle:before {
  content: "\63";
}
.icon-ambulance:before {
  content: "\64";
}
.icon-billing:before {
  content: "\65";
}
.icon-brand-feedback:before {
  content: "\66";
}
.icon-brand-question-square:before {
  content: "\67";
}
.icon-calendar:before {
  content: "\68";
}
.icon-callcenter:before {
  content: "\69";
}
.icon-chart:before {
  content: "\6b";
}
.icon-check:before {
  content: "\6c";
}
.icon-chef:before {
  content: "\6d";
}
.icon-chevron-down:before {
  content: "\6e";
}
.icon-chevron-down-rounded:before {
  content: "\6f";
}
.icon-chevron-left:before {
  content: "\70";
}
.icon-chevron-left-rounded:before {
  content: "\71";
}
.icon-chevron-right:before {
  content: "\72";
}
.icon-chevron-right-rounded:before {
  content: "\73";
}
.icon-chevron-up:before {
  content: "\74";
}
.icon-chevron-up-rounded:before {
  content: "\75";
}
.icon-clock:before {
  content: "\76";
}
.icon-clock-rush:before {
  content: "\77";
}
.icon-clock-time:before {
  content: "\78";
}
.icon-close:before {
  content: "\79";
}
.icon-cyclical-worker:before {
  content: "\7a";
}
.icon-dartboard:before {
  content: "\41";
}
.icon-delete:before {
  content: "\42";
}
.icon-desk-worker:before {
  content: "\43";
}
.icon-document-boxes:before {
  content: "\44";
}
.icon-document-checks:before {
  content: "\45";
}
.icon-document-lens:before {
  content: "\46";
}
.icon-documents:before {
  content: "\47";
}
.icon-download:before {
  content: "\48";
}
.icon-earphones-noise:before {
  content: "\49";
}
.icon-edit:before {
  content: "\4a";
}
.icon-envelope:before {
  content: "\4b";
}
.icon-face-mask:before {
  content: "\4c";
}
.icon-facebook:before {
  content: "\4d";
}
.icon-facebook-rounded:before {
  content: "\4e";
}
.icon-filter-funnel:before {
  content: "\4f";
}
.icon-health-briefcase:before {
  content: "\50";
}
.icon-health-briefcase-bold:before {
  content: "\51";
}
.icon-health-hexagon:before {
  content: "\52";
}
.icon-height-mountain:before {
  content: "\53";
}
.icon-height-worker:before {
  content: "\54";
}
.icon-icon-alert-triangle-bold:before {
  content: "\55";
}
.icon-icon-error-rounded:before {
  content: "\56";
}
.icon-icon-info-rounded:before {
  content: "\57";
}
.icon-icon-instagram-rounded:before {
  content: "\58";
}
.icon-icon-lungs-dust:before {
  content: "\59";
}
.icon-icon-twitter-rounded:before {
  content: "\5a";
}
.icon-icon-youtube-rounded:before {
  content: "\30";
}
.icon-icono-1cmt:before {
  content: "\31";
}
.icon-immediate-agenda:before {
  content: "\32";
}
.icon-iso-regulation:before {
  content: "\33";
}
.icon-laboratory:before {
  content: "\34";
}
.icon-linkedin:before {
  content: "\35";
}
.icon-linkedin-rounded:before {
  content: "\36";
}
.icon-mail:before {
  content: "\37";
}
.icon-map-placeholder:before {
  content: "\38";
}
.icon-menu:before {
  content: "\39";
}
.icon-phone:before {
  content: "\21";
}
.icon-pill:before {
  content: "\22";
}
.icon-placeholder:before {
  content: "\23";
}
.icon-placeholder-new:before {
  content: "\24";
}
.icon-plus:before {
  content: "\25";
}
.icon-question-rounded:before {
  content: "\26";
}
.icon-quote-left:before {
  content: "\27";
}
.icon-result-1:before {
  content: "\28";
}
.icon-search:before {
  content: "\29";
}
.icon-share:before {
  content: "\2a";
}
.icon-share-new:before {
  content: "\2b";
}
.icon-small-space:before {
  content: "\2c";
}
.icon-steering-wheel:before {
  content: "\2d";
}
.icon-target:before {
  content: "\2e";
}
.icon-test-tube:before {
  content: "\2f";
}
.icon-user:before {
  content: "\3a";
}
.icon-whatsapp-rounded:before {
  content: "\3b";
}
.icon-camera-bold:before {
  content: "\6a";
}